

:root {
    --clr-primary: #5A12CE;
    --clr-danger: rgb(255, 55, 55);
    --clr-light: #faf9f9;
    --clr-medium: #c2c2c2;
    --clr-dark: #0E0E0E;
}

body {
    background-color: var(--clr-light);
    color: var(--text-primary);
}

a {
    color: var(--text-primary);
}