@use "../util" as u;

.best-selling-products {
    margin-bottom: u.em(80);
    padding-inline: u.em(40);

    &__title {
        font-size: u.rem(25);
        text-transform: capitalize;
        font-weight: 600;
        width: fit-content;
        margin-inline: auto;
        margin-bottom: u.em(15);
    }

    &__main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(u.em(200), 1fr));
        align-content: stretch;
        margin-inline: auto;
        width: 100%;
        max-width: u.em(1200);
        gap: u.em(20);
        flex-wrap: wrap;
    }

    &__product {
        height: auto;
        aspect-ratio: 1/1.4;
        padding: u.em(10);
        overflow: hidden;
        cursor: pointer;

        &__image {
            margin-bottom: u.em(10);
            padding: u.em(20) u.em(10);
            background-color: rgb(228, 228, 228);
            border-radius: u.em(10);
        }

        &__title {
            white-space: nowrap;
            font-weight: 600;
        }

        &__footer {
            display: flex;
            justify-content: space-between;
            padding-inline: u.em(5);
        }
    }
}