@use "../util/functions/typography-functions" as u;

.best-selling-products {
    margin-bottom: u.em(80);

    &__title {
        font-size: u.rem(25);
        text-transform: capitalize;
        font-weight: 600;
        width: fit-content;
        margin-inline: auto;
        margin-bottom: u.em(15);
    }

    &__main {
        display: flex;
        margin-inline: auto;
        width: fit-content;
        gap: u.em(20);
    }

    &__product {
        width: u.em(150);
        height: u.em(150);
        background-color: red;

        &__image {

        }

        &__title {

        }

        &__price {

        }
    }
}