@use "../util/" as u;

%grid-item {
    background-size: cover;
    background-position-x: center;

    &:hover {
        cursor: pointer;
        filter: blur(2px);
        transition: all 400ms;
        transform: scale(1.01);
    }

    @media (pointer: coarse) {
        &:hover {
            transform: none;
            filter: none
        }
    }
}

.hero {
    display: grid;
    grid-template-areas: 
        "a a b c"
        "a a b d";
    width: 100%;
    max-width: u.em(1000);
    height: auto;
    aspect-ratio: 2/1;
    margin-inline: auto;
    gap: u.em(10);
    margin-bottom: u.em(70);

    @include u.maxMedia(600) {
        grid-template-areas: 
            "b c"
            "b d"
            "a a"
            "a a";

        aspect-ratio: 1/1.5;
        max-height: u.em(700);
    }

    &__item {
        &--a {
            @extend %grid-item;
            grid-area: a;
            background-image: url("/src/assets/images/clothing-2023.webp");
        }
        &--b {
            @extend %grid-item;
            grid-area: b;
            background-image: url("/src/assets/images/jeans.webp");
        }
        &--c {
            @extend %grid-item;
            background-image: url("/src/assets/images/dog.webp");
        }
        &--d {
            @extend %grid-item;
            background-image: url("/src/assets/images/shoes.webp");
        }
    }
}