@use "../util" as u;

%section {
    display: flex;
    gap: u.em(30);
    align-items: center;
    width: 100%;
};

@mixin removeOnPhone($phoneSize) {
    @include u.maxMedia($phoneSize) {
        display: none;
        @content;
    }
}

.nav-bar {
    $phoneSize: 700;

    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    border-bottom: u.em(1) solid var(--clr-medium);
    padding: u.em(5) u.em(30);
    margin-bottom: u.em(50);

    @include u.maxMedia(800) {
        padding-inline: u.em(5);
    }

    @include u.maxMedia(1200) {
        grid-template-columns: 1fr 2fr 2fr;
    }

    @include u.maxMedia($phoneSize) {
        grid-template-columns: repeat(2, 1fr);
        padding: u.em(5) u.em(10);
        
        &__menu {
            place-self: flex-end;
            align-self: center;
            width: fit-content;
            display: block !important;
        }
    }

    &__menu {
        display: none;
    }

    &__acount, &__cart {
        cursor: pointer;
    }

    &__link {
        font-weight: 600;
    }

    &__section {
        @extend %section;

        &--middle {
            @extend %section;
            justify-self: center;

            @include removeOnPhone($phoneSize);
        }
        
        &--right {
            @extend %section;
            justify-self: right;
            justify-content: right;
            gap: u.em(15);

            &__search-bar {
                width: 60%;
            }

            @include removeOnPhone($phoneSize);
        }
    }
}