@use "../util/functions/typography-functions" as u;

%button {
    padding: u.em(7) u.em(15);
    font-size: u.rem(24);
    font-weight: 600;
    outline: none;
    border: none;
}

.link-button {
    @extend %button;
}

.btn {
    @extend %button;
}