@use "../util/functions/typography-functions" as u;

@mixin setIconSize($size) {
    width: u.em($size);
    height: u.em($size);
}

.icon {
    &--small {
        @include setIconSize(40);
    }

    &--medium {
        @include setIconSize(50);
    }

    &--large {
        @include setIconSize(75);
    }

    &--rounded {
        padding: u.em(10);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: u.em(1000);
    }
}